<div class="container-fluid">
  <div class="row">
    <div class="panel panel-danger">
      <div class="panel-heading">總評比</div>
      <div class="panel-body">
        <form method="post">
          <div class="container-fluid page-header">
            <div class="col-lg-4 text-center">
              <p>
                <strong>總分：</strong>
              </p>
            </div>
            <div class="col-lg-8">
              <p class="text-info">
                {{sumvalue}}
              </p>
            </div>
          </div>
          <div class="container-fluid page-header">
            <div class="col-lg-4 text-center">
              <p>
                <strong>平均：</strong>
              </p>
            </div>
            <div class="col-lg-8">
              <p class="text-info">
                {{avgvalue}}
              </p>
            </div>
          </div>
          <div class="container-fluid page-header">
            <div class="col-lg-4 text-center">
              <p>
                <strong>審查結果</strong>
              </p>
            </div>
            <div class="col-lg-8">
              {{result}}
            </div>
          </div>
          <div class="container-fluid page-header">
            <div class="col-lg-4 text-center">
              <p>
                <strong>審查結果</strong>
              </p>
            </div>
            <div class="col-lg-8">
              {{comments}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
